@import "~bootstrap/scss/bootstrap";

body {
  background-color: beige;
}

.hide {
  display: none!important;
}

.card-img-top {
  display: flex;
  width: 400px;
  height: 300px;
  justify-content: center;
}

